.down_button {
  i {
    // background-color: white;
    // padding: 1rem;
    // border-radius: 100px;
    color: white !important;
    font-size: 4rem;
  }
  &:hover {
    transform: scale(1.15);
    
  }
  &:after {
    height: 0px !important;
  }
  transition: all .5s;
  margin-top: 30vh;
  cursor: pointer;
}

.landing_button {
  background-color: white;
  border: none;
  color: black;
  padding: 1rem 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: translatey(10px);
  }
}

@media screen and (max-width: 556px) {
  .down_button {
    margin-top: 15vh;
  }
}
