.about_section {
  height: auto;
  &--heading {
    padding-top: 2rem;
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &--max {
      background-color: $color-main-blue;
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      width: auto;
      padding: 1rem 5rem;
      margin-bottom: 3rem;
      img {
        height: 12.5rem;
        border-radius: 100px;
      }
      &-text_container {
        height: 100%;
        width: 25rem;
        margin: 0 1rem;
        display: block;
        float: left;
        &--icon {
          font-size: 1.4rem;
          margin-top: 0;
          margin-bottom: 1rem;
        }
        &-big_name {
          font-size: 2rem;
          margin: 2rem 0 0 0;
          &--sub {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
          }
        }
        &-description {
          // width: 30%;
          float: center;
        }
      }

      p {
        text-align: center;
      }
    }

    // HOVER FOR HEADS
    .headSection:hover {
      img {
        box-shadow: 0 0 4px 4px beige;
      }
    }
    .headSection, .headSection img {
      box-shadow: 0 0 0 0 beige;
      transition-property: box-shadow;
      transition-duration: .5s;
      -webkit-transition-property: box-shadow;
      -webkit-transition-duration: .5s;
    }

    // END MAX STYLES
    &--booke {
      background-color: $color-main-purple;
      clip-path: polygon(0 0, 88% 0, 100% 100%, 10% 100%);
      width: auto;
      padding: 1rem 5rem;
      margin-bottom: 3rem;
      img {
        height: 12.5rem;
        border-radius: 100px;
      }
      &-text_container {
        height: 100%;
        width: 25rem;
        margin: 0 1rem;
        display: block;
        float: right;
        &--icon {
          font-size: 1.4rem;
          margin-top: 0;
          margin-bottom: 1rem;
        }
        &-big_name {
          font-size: 2rem;
          margin: 2rem 0 0 0;
          &--sub {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
          }
        }
        &-description {
          // width: 30%;
          float: center;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 815px) {
  .about_section {
    overflow: hidden;
    &--heading {
      margin-top: 2rem;
    }
    &__row {
      margin-bottom: 6rem;
      &--max {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 11rem;
          width: 11rem;
        }
        &-text_container {
          width: 100%;
          &--icon {
          }
          &-big_name {
            margin: 1rem 0 0 0;
            &--sub {
            }
          }
          &-description {
          }
        }

        p {
        }
      }
      // END MAX STYLES
      &--booke {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 11rem;
          width: 11rem;
        }
        &-text_container {
          width: 100%;
          &--icon {
          }
          &-big_name {
            margin: 1rem 0 0 0;
            &--sub {
            }
          }
          &-description {
          }
        }

        p {
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .about_section {
    &__row {
      &--max {
        width: 95%;

        &-text_container {
        }
      }
      &--booke {
        width: 95%;
      }
    }
  }
}
