
.bg {
  height: 105vh;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
    
  
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
  }
}


.main_content {
  // margin-top: 30rem;
  text-align: center;
  div {
    margin-bottom: 50rem;
  }
}
