.bg {
  height: 105vh;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
    
  
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
  }
}

.after_bg {
  height: 15rem;
  background: linear-gradient(black, rgb(37, 37, 47));
}
.after_landing {
  height: 15rem;
  background: linear-gradient(rgb(37, 37, 47), black );
}
